body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    position: relative; /* Make the container a positioning context for absolute positioning */
}

.buttons {
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    position: absolute; /* Position the button absolutely within the container */
}

#yesButton {
    left: 50%; /* Initial position for the Yes button */
    transform: translateX(-50%); /* Center the button horizontally */
    top: 0; /* Initial position from the top */
}

#noButton {
    left: 50%; /* Initial position for the No button */
    transform: translateX(-50%); /* Center the button horizontally */
    top: 50px; /* Initial position from the top (adjust as needed) */
}

.hidden {
    display: none;
}

img,
video {
    margin-top: 20px;
    max-width: 100%;
}

